---
import TextPrincipal from "../components/TextPrincipal.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../sections/Banner.astro";

import Header from "../sections/Header.astro";
import Game from "../components/Game.jsx";
---

<Layout title="App - el método más confiable es tu conocimiento">
  <Header />
  <main class="mt-28">
    <Banner />
    <TextPrincipal />
    <Game client:load />
  </main>
  <Header fixed={false} />


</Layout>
