---
import data from '../data/data.json';
---

<section class="p-2 space-y-16 max-w-7xl mx-auto text-2xl">
  <div>
    <h2 class="text-4xl text-violeta-abbott font-bold">A.</h2>
    <ul class="grid-personalizado gap-4 my-6">
      {data.map((item) => (
        <li class="bg-violeta-abbott text-center p-6 rounded-lg" data-pre={item.id}>{item.pregunta}</li>
      ))}
    </ul>
  </div>
  <div>
    <h2 class="text-4xl text-rosado-abbott font-bold">B.</h2>
    <ul class="gap-4 my-6 space-y-4">
      {data.map((item) => (
        <li class="bg-rosado-abbott p-6 rounded-lg" data-pre={item.id}>{item.respuesta}</li>
      ))}
    </ul>
  </div>

</section>

<script>
  import data from '../data/data.json';

</script>


<style>
  .grid-personalizado{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-content: center;
    align-items: stretch;
    justify-items: stretch;
  }

  .grid-personalizado li{
    display: flex;
    align-items: center;
    justify-content: center;
  }



  @media (min-width: 768px) {
    /* Tus estilos aquí */
    .grid-personalizado{
      grid-template-columns: repeat(8, 1fr);
    }

    .grid-personalizado li{
      grid-column: span 2;
    }

    .grid-personalizado li:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

</style>