---
import { URL_BASE } from "../config"
---

<section class="py-8 px-2">
  <div class="max-w-7xl mx-auto">
    <div>
      <img class="inline-block w-full max-w-56" src={URL_BASE + "img/educando.webp"} alt="Programa EDUCANDO AL FUTURO">
    </div>
    <p class="text-morado-abbott font-serif mt-8 text-2xl lg:text-3xl">
      <span class="font-bold">Prueba tus conocimiento sobre los diferentes métodos anticonceptivos,</span> uniendo el enunciado con el tipo de anticonceptivo al que corresponde.
    </p>
  </div>
</section>