---
import { URL_BASE } from "../config"
---

<footer class="p-8 pt-16">
  <div class="text-right">
    <img class="inline-block max-w-80" src={URL_BASE + "img/educando.webp"} alt="Programa EDUCANDO AL FUTURO">
  </div>
</footer>